gpflow==2.2.1
matplotlib==3.4.2
numpy==1.19.5
pandas==0.25.3
plotly==4.14.3
sacred==0.8.2
scipy==1.7.0
tensorflow==2.4.2
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.2
tqdm==4.61.2
trieste==0.5.1
